<h1>My Serverless Book Functions</h1>
<h2>Shannon Viney - S00186271</h2>

<div>
  <form (ngSubmit)="addBook()">


    <div class="form-group">
      <label for="title"> Book Title</label>
      <input type="text" class="form-control" placeholder="Enter Title" id="title" required [(ngModel)]="titleValue" name="title">
    </div>

    <div class="form-group">
      <label for="author"> Book Author Name</label>
      <input type="text" class="form-control" placeholder="Enter Auhtor" id="author" required [(ngModel)]="titleValue" name="author">
    </div>

    <div class="btn-group">
      <button type="submit" class="btn btn-success"> Submit </button>
    </div>
  </form>
</div>

<ul>
  <li *ngFor="let book of MyBooks">
    <button class="btn" (click)="deleteBook(book.id)">Delete Book</button> 
    {{book.id}} - {{book.title}} - {{book.author}}</li>
</ul>